<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="slips"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" color="primary" name="cash-outline"></ion-icon>
      <ion-label color="dark"
        >TL &nbsp;<span  class="item-value"
          >{{userDetails?.tlAmount | number:"1.2-2"}}</span
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="primary" name="cash-outline"></ion-icon>
      <ion-label color="dark"
        >USD &nbsp;<span  class="item-value"
          >{{userDetails?.usdAmount | number:"1.2-2"}}</span
        ></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="primary" name="cash-outline"></ion-icon>
      <ion-label color="dark"
        >EURO &nbsp;<span  class="item-value"
          >{{userDetails?.euroAmount | number:"1.2-2"}}</span
        ></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="primary" name="cash-outline"></ion-icon>
      <ion-label color="dark"
        >POUND &nbsp;<span  class="item-value"
          >{{userDetails?.stgAmount | number:"1.2-2"}}</span
        ></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="primary" name="card-outline"></ion-icon>
      <ion-label color="dark"
        >Credit &nbsp;<span  class="item-value"
          >{{userDetails?.creditCard | number:"1.2-2"}}</span
        ></ion-label
      >
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="primary" name="server-outline"></ion-icon>
      <ion-label color="dark"
        >Chip &nbsp;<span  class="item-value"
          >{{userDetails?.chip | number:"1.2-2"}}</span
        ></ion-label
      >
    </ion-item>
  </ion-list></ion-content
>
